<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des Recettes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Recettes de Cuisine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/recette/ajouter">Ajouter Recette</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recette/lister">Lister Recettes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories/ajouter">Ajouter Catégorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categories">Lister Catégories</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Liste des Recettes</h2>
    <a href="/recette/ajouter" class="btn btn-primary mb-3">Ajouter une recette</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Ingrédients</th>
            <th>Instructions</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recette : ${recettes}">
            <td th:text="${recette.getNom()}"></td>
            <td th:text="${recette.getIngredients()}"></td>
            <td th:text="${recette.getInstructions()}"></td>
            <td th:text="${recette.categorie != null ? recette.categorie.nom : 'Aucune catégorie'}"></td>
            <td>
                <a th:href="@{/recette/modifier/{id}(id=${recette.id})}" class="btn btn-warning">Modifier</a>
                <a th:href="@{/recette/supprimer/{id}(id=${recette.id})}" class="btn btn-danger"
                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?');">Supprimer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
